body {
	font-family: "Poppins", "Arial", sans-serif;
}

h1, h2, h3 {
	font-family: "Merriweather", "Georgia", serif;
}

h3 {
	padding-left: 25px;
}

.subsub {
	padding-left: 50px;
}
.subsubsub {
	padding-left: 75px;
}
.subsubsubsub {
	padding-left: 100px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
	/*
	border: 1px solid red;
	*/
}

.flex-container-courses {
  display: flex;
  flex-wrap: wrap;
	text-align: left;
	margin-left: 50px;
	/*
	border: 1px solid red;
	*/
}

.flex-item-courses {
  flex: 40%;
	margin: 10px;
	padding: 10px;
	text-align: left;
	/*
	background-color: rgba(220, 220, 220, 1);
	*/
	/*
	border: 1px solid blue;
	*/
}

.flex-item-left70 {
  flex: 60%;
	margin: 10px;
	padding: 10px;
	border-right: 1px solid gray;
	/*
	background-color: rgba(220, 220, 220, 1);
	*/
	/*
	border: 1px solid blue;
	*/
}

.flex-item-right30 {
  flex: 25%;
	margin: 10px;
	padding: 10px;
	/*
	border: 1px dashed green;
	background-color: rgba(200, 200, 250, 1);
	*/
}

.flex-item-left50{
  flex: 49%;
	text-align: right;
	/*
	border: 1px dashed green;
	*/
}


.flex-item-right50 {
	flex: 49%;
	text-align: left;
	/*
	border: 1px dashed green;
	*/
}

.flex-item-33 {
  flex: 25%;
	text-align: left;
	/*
	border: 1px dashed brown;
	*/
}

.contact {
  display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
	bottom: 50px;
	/*
	border: 1px dashed green;
	background-color: rgba(200, 200, 250, 1);
	*/
}

.portrait {
  display: inline-block;
	margin: 10px;
	padding: 10px;
	/*
	border: 1px dashed green;
	background-color: rgba(200, 200, 250, 1);
	*/
}


@media (max-width: 800px) {
	.flex-container {
		border: 0px;
	}
	.flex-item-right30 {
    flex: 100%;
		border-bottom: 1px solid gray;
		margin-left: 50px;
  }
	.flex-item-left70 {
		flex: 100%;
		border: none;
	}
	.flex-item-left50 {
		flex: 100%;
		text-align: center;
	}
	.flex-item-right50 {
		flex: 100%;
		text-align: center;
	}
	.flex-item-33 {
		flex: 100%;
	}
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}

.title_block {
	display: inline-block;
	width: 50%;
	margin-top: 50px;
}

.title {
	/*
	border: 1px dashed violet;
	*/
}

.title_text {
	color: black;
	text-align: center;
	font-family: "Merriweather", serif;
	font-size: 36pt;
	padding: 10px;
	margin: 0px;
}

.subtitle_text {
	text-align: center;
	font-family: "Merriweather", sans-serif;
	margin: auto;
	padding-top: 20px;
}

.navbar {
	position: fixed;
	top:0;
	left:-10px;
	width: 110%;
}

ul.topnav{
	font-family: "Poppins", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: rgba(25, 25, 25, 1);
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: rgba(128, 128, 250, 1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}


ul.topnav li.right {
	float: right;
}

.top_space {
	height: 50px;
	/*
	border: 2px solid yellow;
	*/
}

p {
	font-size: 12pt;
}
